.main {
    grid-area: main;
    display: grid;
    margin-right: 1rem;
}

.container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-areas: "sidebar    main";
    gap: 1rem;
}

.returnButton {

    position: sticky;
    top: 100vh;
    left: 100%;
    transform: translateY(-4.5rem); 
    z-index: 1;

    background-color: turquoise;
    color: black;
    width: max-content;
    height: min-content;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    margin-top: 1rem;
}

.returnButton * {
    background-color: turquoise;
    color: black;
}

.returnButton:hover {
    font-weight: 700;
}
