.main {
    grid-area: main;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-areas: "sidebar    main   extra";
    gap: 1rem;
}

.extra {
    grid-area: extra;
    display: grid;
    gap: 2rem;
    width: 15rem;
}