.main {
    grid-area: main;
    display: grid;
    gap: 2rem;
    overflow: hidden;
}

.container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-areas: "sidebar    main";
    gap: 1rem;
}
