.filterSection {
    margin-top: 0rem;
    position: sticky;
    top: 0;
}

.filterSummary {
    background-color: turquoise;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border-radius: 4px;
}

.blankSpace {
    background-color: #18162b;
    height: 1rem;
}

.filterSummary * {
    background-color: turquoise;
    align-items: center;
    color: #18162b;
}

.showFormButton {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    background-color: #18162b;
    width: 7rem;
    height: fit-content;
    border-radius: 4px;
    color: turquoise;
}

.showFormButton * {
    background-color: #18162b;
    color: turquoise;
}

.showFormButton:hover,
.showFormButton:active {
    font-weight: 700;
    cursor: pointer;
}

.showFormButton:hover > .TuneRoundedIcon,
.showFormButton:active > .TuneRoundedIcon {
    cursor: pointer;
    transform: rotate(0.5turn);
}

.showActiveFilters {
    border-left: 3px solid #18162b;
    padding: 1rem;
}

.form * {
    color: white;
    border: none;
    background-color: #272e3c;
}

.form {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #272e3c;
}

.formSelectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

.selectteam {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    justify-content: space-between;
}

.teamSelect * {
    margin-right: 1rem;
}

.close {
    text-align: right;
}

.closeIcon:hover {
    cursor: pointer;
    fill: turquoise;
    font-weight: 700;
}
