.table {
    margin-bottom: 8rem;
}

.title {
    margin: 1rem 0;
}

.matchListItemContainer,
.matchListItemContainer * {
    background-color: #272e3c;
    border-radius: 4px;
}

.matchListItem {
    grid-template-columns: 1fr 2rem 4rem 2rem 1fr;
    gap: 1rem;
    height: 5rem;
    margin: 1rem 0;
    padding: 0 2rem;
}

.matchListItem,
.matchListItem * {
    display: grid;
    align-items: center;
}

.awayTeam {
    text-align: left;
}

.score {
    text-align: center;
}

.homeTeam {
    text-align: right;
}

.matchListItem:hover,
.matchListItem:hover > * {
    background-color: turquoise;
    color: black;
    cursor: pointer;
}

.clubLogo {
    width: 2rem;
}
