.matchDetails,
.matchDetails * {
    background-color: #272E3C;
}

.matchList {
    display: grid;
    gap: 1rem;
}

.title {
    margin: 2rem 0 1rem;
}

.matchDetails {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 6fr;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    padding: 0 2rem;
    margin: 1rem 0 0;
    border-radius: 4px;
}

.venue {
    text-align: right;
}

.awayTeam {
    text-align: left;
}

.homeTeam {
    text-align: right;
}

.score {
    text-align: center;
}

.extraStats {
    font-size: 1.5rem;
    color: white;
    text-align: right;
    border-style: none;
}

.extraStats:hover {
    font-size: 2rem;
    font-weight: 700;
}

.extraStats:active {
    font-size: 3rem;
}

.matchDetails:hover,
.matchDetails:hover > * {
    background-color: rgba(64, 224, 208);
    color: black;
    cursor: pointer;
}   

.matchDetails:active,
.matchDetails:active > * {
    background-color: rgba(64, 224, 208);
    color: black;
    cursor: pointer;
}

.results {
    margin-bottom: 9rem;
}

.clubLogo {
    width: 2rem;
}