.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 2rem);
    gap: 2rem;
}

.link{
    font-size: 2rem;
}

.link:hover {
    color: turquoise;
}