* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #18162b;
    font-family: roboto;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    color: white;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    isolation: isolate;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}