.table {
    margin-bottom: 8rem;
}

.listTitle {
    color: grey;
}

.teamListItemHeading,
.teamListItemHeading *,
.teamListItem,
.teamListItem * {
    display: grid;
    align-items: center;
    border-radius: 4px;
}

.teamListItem,
.teamListItem * {
    background-color: #272e3c;
}

.teamListItemHeading,
.teamListItem {
    grid-template-columns: auto 1fr auto auto auto;
    gap: 1rem;
    height: 5rem;
    margin: 1rem 0;
    padding: 0 2rem;
}

.postionStats {
    grid-template-columns: 2rem;
}

.teamStats {
    grid-template-columns: 4rem 1fr;
}

.gamesStats {
    grid-template-columns: repeat(4, 2rem);
}

.goalsStats {
    grid-template-columns: repeat(3, 2rem);
}

.pointsStats {
    grid-template-columns: 2rem;
}

.clubLogo {
    width: 2rem;
}

.extraStats {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
}

.extraStats,
.extraStats * {
    margin: 1rem 0;
    background-color: #272e3c;
    border-radius: 4px;
}

.teamListItem:hover,
.teamListItem:hover *,
.teamListSelected,
.teamListSelected * {
    background-color: rgba(64, 224, 208);
    color: black;
    cursor: pointer;
}

.teamListSelected,
.teamListSelected * {
    margin: 0;
}

.red,
.orange,
.green {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.extraStatsContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.blankSpace {
    background-color: #18162b;
    height: 1rem;
}
